src/main/mule/on-new-or-update.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="d683e1b6-b179-43ce-81cf-e07b169f59f4" >
		<file:connection workingDir="D:\" />
	</file:config>
<!-- [STUDIO:"on-new-or-updateFlow"]	<flow name="on-new-or-updateFlow" doc:id="af296a41-405e-490b-bd41-fe7ac8343f18" >
		<file:listener doc:name="On New or Updated File" doc:id="f0cccebf-67e6-458a-ac29-586ebfae3236" config-ref="File_Config" directory="resources\examples\mule-file" moveToDirectory="C:\resources\examples\mule-file" overwrite="true" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency frequency="2000" startDelay="2000"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="572d9291-1b17-41d1-95f5-46c08b94aae9" message="#[payload&#93;"/>
	</flow> [STUDIO] -->
</mule>
