src/main/mule/read-file-bulk-insert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8790b701-5a00-4844-9f8e-8bbd52fbb740" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="2de0c7d2-a969-4c68-a3b6-ee484b7f4807" >
		<db:my-sql-connection host="127.0.0.1" port="3306" user="pragati" password="pragati@13" database="employee_data" />
	</db:config>
	<flow name="read-csvfile-bulk-insert-flow" doc:id="a277728e-4848-410a-8908-11bdb0711d9f" >
		<http:listener doc:name="Listener" doc:id="fe17e88d-03ca-4726-8020-99f3b6f2cc73" config-ref="HTTP_Listener_config" path="/read"/>
		<file:read doc:name="Read employee data" doc:id="f3b8c23c-2160-470a-ae23-e9ad8de742f7" path="C:\resources\examples\employee.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="e04a7e07-bcfd-42a5-9d76-0970eab02564" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (emp, index) -> {
	employee_id: emp.employee_id,
	first_name: emp.first_name,
	last_name: emp.last_name,
	age: emp.age,
	department: emp.department,
	job_title: emp.job_title,
	salary: emp.salary,
	hire_date: emp.hire_date
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="88f50fdb-b72a-458e-a143-dc15734070b2" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into employees values(:employee_id, :first_name, :last_name, :age, :department, :job_title, :salary, :hire_date)]]></db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="Output Response" doc:id="e2c5fb2b-e617-4bea-8be8-366c4048650e" message="#[payload]"/>
	</flow>
</mule>
